*{
    margin: 0;
    padding: 0;
}
.flex-box{
  align-items: center;
  justify-content: space-between;
  width: 600px;
  margin: 30px;
}
img{
  width:130px;
  height:120px;
  border: 2px solid ;
  margin: 20px;
  box-shadow: 0 4px 10px rgb(0,0,0,0.5);
}
 